extends layout.pug

block content
    
    .fixture-container
        ul.fixture-list 
            each team in teams 
                li.fixture 
                    .team-1.team    
                        p.team-name `${team.name}`
                        button.btn.selection-button(type="button", name="button") `${team.abreviation}`
                    .vs 
                        img.team-logo(src="`${team.logo}`")
                        h4.vs-h4 VS
                        img.team-logo(src="`${team.logo}`")
                            .date 
                                p.date-p Saturday 27 Nov 2022
                    .team-2.team 
                        p.team-name `${team.name}`
                        button.btn.selection-button(type="button", name="button") `${team.abreviation}`





                        
